server:
  port: 8080

spring:
  application:
    name: eatyaar
  datasource:
    url: jdbc:postgresql://localhost:5432/eatyaar
    username: eatyaar_user
    password: eatyaar123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: eatyaar_super_secret_jwt_key_change_in_production
  expiration: 604800000